
.header {
    background-color: #373737;
    height: 8vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    color: white;
}

.ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 30px;
}

.inblock {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
}

.search {
    display: flex;
    align-items: center;
    border: 1px white solid;
    border-radius: 10px;
    height: 60%; 
    padding: 0 10px; 
}

.searchInput {
    background-color: transparent; 
    border: none; 
    color: white; 
    outline: none; 
    margin-left: 5px; 
}


.CgProfile {
    height: 30px;
    width: 30px;
}

.link {
    text-decoration: none;
    color: white;
}