
body, html {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
}

.BottonFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    font-size: 20PX;
    font-weight: 900;

}
a:visited {
    color: inherit; /* Сбрасываем изменение цвета после посещения */
}

.RegPage {
    height: 100%;

}

.LoginPage{
    height: 100%;
}